<ion-header>
  <ion-navbar color="primary">
    <ion-title>Random Quote</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Random Quote</h2>
  <p>
    <i>"{{randomQuote?.text}}"</i> - <strong>{{randomQuote?.from}}</strong>
  </p>
  <button ion-button block (click)="generateRandomQuote()">Random Quote</button>
</ion-content>