<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>iQuotes</h2>
  <p>A simple Ionic app that generates random quotes</p>
  <ion-item>
    Version: 1.0.0
  </ion-item>
  <h3>Developed by:</h3>
  <ion-img width="320" height="128" src="assets/gg_logo.png"></ion-img>
  <a ion-button block target="_blank" href="https://www.groundgurus.ph/#/">Visit Ground Gurus</a>
</ion-content>
