<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Random Quote" tabIcon="infinite"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
