<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Enterpreneur Quotes</h2>
  <ion-list>
      <button ion-item *ngFor="let quote of quotes" (click)="viewDetails(quote)">
        <p>
          {{quote.text}}
        </p>
        <h2>{{quote.from}}</h2>
      </button>
    </ion-list>
</ion-content>
